<header class="header">
    <div class="header-box">
        <div class="header-box__top">
            <div class="container">
                <a href="#" class="logo"><img src="img/logo.svg" alt=""></a>
                <div class="header-contacts">
                    <a href="tel:+74732299952">+7 473 <i>229 99 52</i></a>
                    <span>Режим работы с 9:00 до 19:00. Без выходных</span>
                </div>
                <a href="#" class="callback-mob"></a>
                <div class="hamburger-box"><a id="hamburger-icon" href="javascript: void(0);" title="Menu"><span class="line line-1"></span><span class="line line-2"></span><span class="line line-3"></span></a></div>
            </div>
        </div>
        <div class="header-box__bottom">
            <div class="container">
                <div class="mobile-menu">
                    <ul class="menu top-menu">
                        <li><a href="#">Каталог продукции</a></li>
                        <li><a href="#">Производство</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Строительство</a></li>
                    </ul>
                    <a class="tel-mob" href="tel:+74732299952">+7 473 <b>229 99 52</b></a>
                    <a class="tel-mob" href="tel:+74732299952">+7 473 <b>229 99 52</b></a>
                </div>


                <a href="javascript:void(0);" class="btn-callback">Заказать звонок</a>
            </div>
        </div>
    </div>
</header>