<header class="header">
    <div class="header-box">
        <div class="header-box__top">
            <div class="container">
                <a href="#" class="logo"><img src="img/logo.svg" alt=""></a>
                <div class="header-contacts">
                    <a href="tel:+74732299952">+7 473 <i>229 99 52</i></a>
                    <span>Режим работы с 9:00 до 19:00. Без выходных</span>
                </div>
            </div>
        </div>
        <div class="header-box__bottom">
            <div class="container">
                <ul class="menu top-menu">
                    <li><a href="#">Каталог продукции</a></li>
                    <li><a href="#">Производство</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Строительство</a></li>
                </ul>
                <a href="javascript:void(0);" class="btn-callback">Заказать звонок</a>
            </div>
        </div>
    </div>
</header>