<footer class="footer">
    <div class="footer-box">
        <div class="footer-box__top">
            <div class="container">
                <a href="#" class="callback-mob"></a>
                <a href="#" class="logo"><img src="img/logo.svg" alt=""></a>
                <div class="header-contacts">
                    <a href="tel:+74732299952">+7 473 <i>229 99 52</i></a>
                    <span>Режим работы с 9:00 до 19:00</span>
                </div>
            </div>
        </div>
        <div class="footer-box__bottom">
            <div class="container">
                <ul class="menu top-menu">
                    <li><a href="#">Каталог продукции</a></li>
                    <li><a href="#">Производство</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Строительство</a></li>
                </ul>
                <a href="javascript:void(0);" class="btn-callback">Заказать звонок</a>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="copyright__left">
                <div class="year">2021, ООО ГК "АГРО-ЛИДЕР"</div>
            </div>
            <div class="copyright__right">
                <a href="#">Пользовательское соглашение</a>
                <a href="#">Политика конфиденциальности</a>
                <a class="gen" target="_blank" href="https://promo01.ru/">Разработка сайта “Генерация”</a>
            </div>
        </div>
    </div>
</footer>